<div class="row">
    <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Register
      </div>
      <div class="card-body">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <div class="form-group col-12">
              <label for="first-name" class="form-label">First Name</label>
              <input type="text" class="form-control" formControlName="userFirstName">
              <span *ngIf="!userFirstName.valid && userFirstName.touched" class="error-block">
                please provide your first name
              </span>
          </div>

          <div class="form-group col-12">
            <label for="last-name" class="form-label">Last Name</label>
            <input type="text" class="form-control" formControlName="userLastName">
            <span *ngIf="!userLastName.valid && userLastName.touched" class="error-block">
                please provide your last name
              </span>
          </div>
  
          <div class="form-group col-12">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email">
            <span *ngIf="!email.valid && email.touched" class="error-block">
                <span *ngIf="email.hasError('required')">
                    please provide email
                </span>
                <span *ngIf="email.hasError('email')">
                    please provide valid email
                </span>
            </span>
          </div>

          <div class="form-group col-12">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" formControlName="username">
            <span *ngIf="!username.valid && username.touched" class="error-block">
                please provide your username
              </span>
          </div>
  
          <div class="form-group col-12">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password">
            <span *ngIf="!password.valid && password.touched" class="error-block">
                <span *ngIf="password.hasError('required')">
                    please provide password
                </span>
            </span>
            <span *ngIf="password.hasError('minlength') || password.hasError('maxlength')" class="error-block">
                password needs to be in 6-10 characters   
            </span>
          </div>
  
          <div class="form-group col-12">
            <label for="cpassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control"formControlName="confirmPassword" >
            <span *ngIf="!confirmPassword.valid && confirmPassword.touched" class="error-block">
                <span *ngIf="confirmPassword.hasError('required')">
                    please confirm password
                </span>
            </span>
            <span *ngIf="registrationForm.hasError('notmatched') && confirmPassword.valid" class="error-block">
                password does not match
            </span>
          </div>
          <br>
  
          <div class="form-group col-12">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
          </div>
          Form Values: {{registrationForm.value | json}} 
          <br>
          Form Status: {{registrationForm.valid}}
        </form>
      </div>
    </div>
    </div>
  </div>