<div class="row">
    <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Register
      </div>
      <div class="card-body">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <div class="form-group col-12">
              <label for="first-name" class="form-label">First Name</label>
              <input type="text" class="form-control" formControlName="userFirstName">
              <!-- <span *ngIf="!registrationForm.get('userFirstName').valid && registrationForm.get('userFirstName').touched">
                Please type your first name
              </span> -->
          </div>

          <div class="form-group col-12">
            <label for="last-name" class="form-label">Last Name</label>
            <input type="text" class="form-control" formControlName="userLastName">
          </div>
  
          <div class="form-group col-12">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email">
          </div>

          <div class="form-group col-12">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" formControlName="username">
          </div>
  
          <div class="form-group col-12">
            <label for="passwrod" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password">
          </div>
  
          <div class="form-group col-12">
            <label for="cpassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control"formControlName="confirmPassword" >
          </div>
          <br>
  
          <div class="form-group col-12">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
          </div>
          Form Values: {{registrationForm.value | json}} 
          <br>
          Form Status: {{registrationForm.valid}}
        </form>
      </div>
    </div>
    </div>
  </div>