<div class="row">
    <div class="col-6 m-auto">
        <div class="card m-auto">
            <div class="card-header">
                Profile
            </div>
            <div class="card-body">
                <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                    <div class="form-group col-12">
                        <label class="labels" for="firstName">First Name</label>
                        <input type="text" class="form-control" formControlName="newUserFName" [(ngModel)]="testuser.newUserFName">
                        <span *ngIf="!newUserFName.valid && (newUserFName.touched || userSubmitted)" class="error-block">
                            please provide your first name
                          </span>
                    </div>
                    <div class="form-group col-12">
                        <label class="labels" for="lastName">Last Name: </label>
                        <input type="text" class="form-control" formControlName="newUserLName" [(ngModel)]="testuser.newUserLName">
                        <span *ngIf="!newUserLName.valid && (newUserLName.touched || userSubmitted)" class="error-block">
                            please provide your last name
                          </span>
                    </div>
                    <div class="form-group col-12">
                        <label class="labels" for="userName">Username: </label>
                        <input type="text" class="form-control" formControlName="newUsername"  readonly [(ngModel)]="testuser.newUsername">
                    </div>
                    <div class="form-group col-12">
                        <label class="labels" for="password">Password: </label>
                        <input type="password" class="form-control" formControlName="newPassword"  readonly [(ngModel)]="testuser.newPassword">
                    </div>
                    <div class="form-group col-12">
                        <label class="labels" for="userEmail">Primary Email: </label>
                        <input type="text" class="form-control" formControlName="newEmail" [(ngModel)]="testuser.newEmail">
                        <span *ngIf="!newEmail.valid && (newEmail.touched || userSubmitted)" class="error-block">
                            <span *ngIf="newEmail.hasError('required')">
                                please provide email
                            </span>
                            <span *ngIf="newEmail.hasError('email')">
                                please provide valid email
                            </span>
                        </span>
                    </div>

                    <br>
                    
                    <p>Please choose your activity preferences:</p>
                    <div class="form-group form-check">
                        <label for="education">Education</label>
                        <br>
                        <input type="checkbox" formControlName="userPreferences"  id="education" [(ngModel)]="education">
                    </div>
                    <div>
                        <label for="recreational">Recreational</label>
                        <br>
                        <input type="checkbox" formControlName="userPreferences"  id="recreational" [(ngModel)]="recreational">
                    </div>
                    <div>    
                        <label for="social">Social</label>
                        <br>
                        <input type="checkbox" formControlName="userPreferences" id="social" [(ngModel)]="social">
                    </div>
                    <div>
                        <label for="diy">DIY</label>
                        <br>
                        <input type="checkbox" formControlName="userPreferences" id="diy" [(ngModel)]="diy">
                    </div>
                    <div>
                        <label for="charity">Charity</label>
                        <br>
                        <input type="checkbox" formControlName="userPreferences" id="charity" [(ngModel)]="charity">
                    </div>
                    <div>
                        <label for="cooking">Cooking</label>
                        <br>
                        <input type="checkbox" formControlName="userPreferences" id="cooking" [(ngModel)]="cooking">
                    </div>
                    <div>
                        <label for="relaxation">Relaxation</label>
                        <br>
                        <input type="checkbox" formControlName="userPreferences" id="relaxation" [(ngModel)]="relaxation">
                    </div>
                    <div>
                        <label for="music">Music</label>
                        <br>
                        <input type="checkbox" formControlName="userPreferences" id="music" [(ngModel)]="music">
                    </div>
                    <div>
                        <label for="busywork">Busywork</label>
                        <br>
                        <input type="checkbox" formControlName="userPreferences" id="busywork" [(ngModel)]="busywork">
                    </div>
                    <div class="form-group col-12">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <!--<section class="chekedPreferences">
        <p>You chose:</p>
         {{preferences.value | json}} -->


         <!-- <div class="form-group col-12">
                        <label class="labels" for="password">Password: </label>
                        <input type="password" class="form-control" formControlName="newPassword"  readonly [(ngModel)]="testuser.newPassword">
                    </div> -->