*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  font-family: sans-serif;
  font-size: 23px;
  color: wheat;
}

#main{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('src/assets/epgImage.jpeg');
  /* vh = viewport height -- relative to screen */
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}

.floated{
  display:inline-block;
   margin-right:5px;
}
