<div class="card text-center">
  <div class="card-header"><button type="button" class="btn-close" ></button><h3 class="card-title"> New Event!</h3>
    </div>
    
    <div class="card-body text-center">
        Title:  <input type="text" [(ngModel)]="name" /><br>
        Date:   <input type="date" [(ngModel)]="date"/><br>
        Time:   <input type="time" [(ngModel)]="startTime"/><br>
        <textarea type="textarea" rows="6" cols="25" [(ngModel)]="description" placeholder="Additional notes"></textarea>
  </div>
    <div class="card-footer">
      <app-button text="Suggestions" (click)="suggestEvent()"></app-button>
      <app-button text="Submit" (click)="submitEvent()"></app-button>
    </div>
</div>