<div class="card" style="width: 18rem;">
    <h3 class="card-title"> New Event!</h3>
    <div class="card-body text-center">
        <div>Event Details</div><br>
        Title: 
        <input class="card-text"/><br>
        Date: 
        <input class="card-text"/>
        <div></div>
      <div>Notes</div>
      <input id="notes" placeholder="Additional notes"/>
  </div>
    <div class="card-footer">
      <app-button color="dodgerBlue" text="Suggestions"></app-button>
      <app-button color="dodgerBlue" text="Submit"></app-button>
    </div>
</div>