<div class="card" style="width: 18rem;">
    <h3 class="card-title"> New Event!</h3>
    <div class="card-body text-center">
        <div>Event Details</div><br>
        Title:<input type="text" [(ngModel)]="name" /><br>
        Date: <input type="date" [(ngModel)]="date"/><br>
        Time:<input type="time" [(ngModel)]="startTime"/><br>
        Note:<input type="text" [(ngModel)]="notes" placeholder="Additional notes"/>
  </div>
    <div class="card-footer">
      <app-button color="dodgerBlue" text="Suggestions"></app-button>
      <app-button color="dodgerBlue" text="Submit" (click)="submitEvent()"></app-button>
    </div>
</div>