.card {
    border-color: black;
    box-shadow: 5px 5px 5px black;
    border-radius: 2rem;
    margin-top: 3rem;
}

.card-header{
    text-align: left;
}


.card .card-title{
    text-align: center;
}

.card-body #notes{
    border-color: black;
}

textarea{
    border-radius: .4rem;
}
